* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  display: flex;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: monospace;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  color: rgb(243, 25, 243);
  font-size: 2rem;
}

table {
  border: 2px solid rgb(243, 25, 243);
  width: 48rem;
}

th {
  background-color: rgb(245, 147, 245);
  font-size: 1.5rem;
}

td {
  border-top: 1px solid rgb(243, 25, 243);
  font-size: 1rem;
}

span {
  background-color: beige;
}
